# **UTS**
**NAMA : FIRDAUS HAJIYANSAH
NIM : 221011402153
KELAS : 05TPLE018
MATA KULIAH : KECERDASAN BUATAN**

## **Data**

In [3]:
# Data

company_detail_list = [
      {
          'name': 'Company 1',
          'domain': 'Retail',
          'country': 'United States'
      },
      {
          'name': 'Company 2',
          'domain': 'Technology',
          'country': 'United Kingdom'
      },
      {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'country': 'United States'
      }
  ]

employee_detail_list = [
     {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0005',
          'first_name': 'Ying Han',
          'last_name': 'Tan',
          'full_name': 'Ying Han Tan',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0015',
          'first_name': 'Kenneth',
          'last_name': 'Ng',
          'full_name': 'Kenneth Ng',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0018',
          'first_name': 'Rubby',
          'last_name': 'Lee',
          'full_name': 'Rubby Lee',
          'company': 'Company 2',
          'nationality': 'Hong Kong'
      },
     {
          'name': 'EMP-0017',
          'first_name': 'Robert',
          'last_name': 'White',
          'full_name': 'Robert White',
          'company': 'Company 1',
          'nationality': 'United Kingdom'
      }
  ]

## **Task 1**

In [4]:
task_1 = sorted([{"name": company["name"]} for company in company_detail_list], key=lambda x: x["name"], reverse=True)
print("Hasil Task 1:")
print(task_1)

Hasil Task 1:
[{'name': 'Company 3'}, {'name': 'Company 2'}, {'name': 'Company 1'}]

## **Task 2**

In [5]:
print("\nOutput Expected Return:")
for company in company_detail_list:
    print(f"{company['name']}: {company['domain']} ({company['country']})")

Output Expected Return:
Company 1: Retail (United States)
Company 2: Technology (United Kingdom)
Company 3: Healthcare (United States)

## **Task 3**

In [10]:
company_domains = {company["name"]: company["domain"] for company in company_detail_list}
task_3_result = {}
for employee in employee_detail_list:
    domain = company_domains[employee["company"]]
    task_3_result.setdefault(domain, []).append(employee["full_name"])
print("Task 3 Result:")
print(task_3_result)
print("\n")

Task 3 Result:
{'Retail': ['John Doe', 'Ying Han Tan', 'Robert White'], 'Technology': ['Tom Smith', 'Rubby Lee'], 'Healthcare': ['Andrew Sebastian', 'Kenneth Ng']}

In [11]:
# Versi Yang Lebih Mudah Dibaca
print("Task 3 Result: Employees Grouped by Company Domain")
print("=" * 60)
for domain, employees in task_3_result.items():
    print(f"{domain}:")
    for employee in employees:
        print(f"  - {employee}")
print("\n")

Task 3 Result: Employees Grouped by Company Domain
============================================================
Retail:
  - John Doe
  - Ying Han Tan
  - Robert White
Technology:
  - Tom Smith
  - Rubby Lee
Healthcare:
  - Andrew Sebastian
  - Kenneth Ng

## **Task 4**

In [14]:
company_countries = {company["name"]: company["country"] for company in company_detail_list}
task_4_result = [
    {
        "full_name": employee["full_name"],
        "company": employee["company"],
        "country": company_countries[employee["company"]]
    }
    for employee in employee_detail_list
]
print("Task 4 Result:")
print(task_4_result)
print("\n")

Task 4 Result:
[{'full_name': 'John Doe', 'company': 'Company 1', 'country': 'United States'}, {'full_name': 'Tom Smith', 'company': 'Company 2', 'country': 'United Kingdom'}, {'full_name': 'Andrew Sebastian', 'company': 'Company 3', 'country': 'United States'}, {'full_name': 'Ying Han Tan', 'company': 'Company 1', 'country': 'United States'}, {'full_name': 'Kenneth Ng', 'company': 'Company 3', 'country': 'United States'}, {'full_name': 'Rubby Lee', 'company': 'Company 2', 'country': 'United Kingdom'}, {'full_name': 'Robert White', 'company': 'Company 1', 'country': 'United States'}]

In [15]:
#Versi lebih mudah dibaca
print("Task 4 Result: Employees with Company Country")
print("=" * 60)
for item in task_4_result:
    print(f"Full name : {item['full_name']}")
    print(f"Company : {item['company']}")
    print(f"Country : ({item['country']}")
    print("=" * 60)
print("\n")

Task 4 Result: Employees with Company Country
============================================================
Full name : John Doe
Company : Company 1
Country : (United States
============================================================
Full name : Tom Smith
Company : Company 2
Country : (United Kingdom
============================================================
Full name : Andrew Sebastian
Company : Company 3
Country : (United States
============================================================
Full name : Ying Han Tan
Company : Company 1
Country : (United States
============================================================
Full name : Kenneth Ng
Company : Company 3
Country : (United States
============================================================
Full name : Rubby Lee
Company : Company 2
Country : (United Kingdom
============================================================
Full name : Robert White
Company : Company 1
Country : (United States
============================================================

## **Task 5**

In [18]:
from collections import Counter
task_5 = []
for company in company_detail_list:
    company_name = company["name"]
    nationalities = [
        employee["nationality"]
        for employee in employee_detail_list
        if employee["company"] == company_name
    ]
    nationality_count = dict(Counter(nationalities))
    task_5.append({
        "company": company_name,
        "employee_nationality": nationality_count
    })
print("Task 5 Result:")
print(task_5)

Task 5 Result:
[{'company': 'Company 1', 'employee_nationality': {'Australia': 2, 'United Kingdom': 1}}, {'company': 'Company 2', 'employee_nationality': {'United States': 1, 'Hong Kong': 1}}, {'company': 'Company 3', 'employee_nationality': {'United States': 2}}]

In [19]:
#Versi lebih mudah dibaca
print("Companies with Count of Employee Nationalities :")
print("=" * 60)
for company in task_5:
    print(f"{company['company']}:")
    for nationality, count in company["employee_nationality"].items():
        print(f"  - {nationality}: {count}")
print("\n")

Companies with Count of Employee Nationalities :
============================================================
Company 1:
  - Australia: 2
  - United Kingdom: 1
Company 2:
  - United States: 1
  - Hong Kong: 1
Company 3:
  - United States: 2